openapi: 3.0.3
info:
  title: Vimeo OTT Analytics Products API
  description: 'The Vimeo OTT API (formerly the VHX API) is a REST interface for managing a branded subscription video / over-the-top (OTT) service. It lets media companies manage customers (subscribers), products (subscription, rental, and purchase access agreements), videos, and collections (categories, series, seasons, movies, playlists), plus watchlists, embeddable-player authorizations, comments, live events, and analytics. All access is over HTTPS; requests and responses are JSON using the HAL hypermedia convention (_links, _embedded). Authentication is HTTP Basic Auth with a Vimeo OTT API key supplied as the username and a blank password; keys are generated on the Platforms page of the Vimeo OTT CMS.

    Scope note - HTTP methods and paths are confirmed from the public reference at dev.vhx.tv. Request and response field-level schemas below are modeled from the documented examples and generalized where the reference documents fields by example rather than as a formal schema.'
  version: '1.0'
  contact:
    name: Vimeo OTT Developers
    url: https://dev.vhx.tv/docs/api/
servers:
- url: https://api.vhx.tv
  description: Vimeo OTT (VHX) API
security:
- basicAuth: []
tags:
- name: Products
  description: Access agreements (subscription, rental, purchase) and their prices.
paths:
  /products:
    get:
      operationId: listProducts
      tags:
      - Products
      summary: List products
      description: Lists all products. Paginated, 50 per page by default.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A paginated list of products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      operationId: getProduct
      tags:
      - Products
      summary: Retrieve a product
      description: Retrieves a single product by ID.
      responses:
        '200':
          description: The requested product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /products/{id}/prices:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      operationId: getProductPrices
      tags:
      - Products
      summary: Retrieve product prices
      description: Retrieves a product's prices across supported currencies.
      responses:
        '200':
          description: The product's prices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  prices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Price'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        type:
          type: string
          description: The access model, e.g. subscription, rental, or purchase.
        price:
          $ref: '#/components/schemas/Price'
        created_at:
          type: string
          format: date-time
        _links:
          $ref: '#/components/schemas/Links'
    Links:
      type: object
      description: HAL hypermedia links.
      additionalProperties: true
    Price:
      type: object
      properties:
        currency:
          type: string
        cents:
          type: integer
        formatted:
          type: string
    ProductList:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            products:
              type: array
              items:
                $ref: '#/components/schemas/Product'
        count:
          type: integer
        total:
          type: integer
        _links:
          $ref: '#/components/schemas/Links'
    Error:
      type: object
      properties:
        message:
          type: string
        error:
          type: string
  parameters:
    perPage:
      name: per_page
      in: query
      required: false
      description: The number of results per page (default 50).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
    id:
      name: id
      in: path
      required: true
      description: The resource ID.
      schema:
        type: string
    page:
      name: page
      in: query
      required: false
      description: The page of results to return.
      schema:
        type: integer
        minimum: 1
        default: 1
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Supply your Vimeo OTT API key as the username and leave the password blank.
