openapi: 3.2.0
info:
  title: Vimeo OTT Authorizations API
  description: The Vimeo OTT API (formerly the VHX API) is a REST interface for managing a branded subscription video / over-the-top (OTT) service.
  version: '1.0'
  contact:
    name: Vimeo OTT Developers
    url: https://dev.vhx.tv/docs/api/
servers:
- url: https://api.vhx.tv
  description: Vimeo OTT (VHX) API
security:
- basicAuth: []
tags:
- name: Authorizations
  description: Short-lived tokens granting a customer access to the embeddable player.
paths:
  /authorizations:
    post:
      operationId: createAuthorization
      tags:
      - Authorizations
      summary: Create a player authorization
      description: Generates a short-lived authorization token granting a specific customer access to an embeddable video player, with configurable session token expiration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: string
                  description: The customer ID or href to authorize.
                video:
                  type: string
                  description: The video ID or href to authorize playback for.
                ttl:
                  type: integer
                  description: Session token time-to-live in seconds.
              required:
              - customer
              - video
      responses:
        '201':
          description: The created authorization token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request was malformed or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        error:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Supply your Vimeo OTT API key as the username and leave the password blank.
